
.TITULO{
    color: aliceblue;
    margin: 80px;
    margin-left: 450px;
    font-size: 50px;
}

.TEXTO{
    color: aliceblue;
    margin: 0px 400px;
    margin-left: 450px;
    font-size: 30px;
    
}

.imagenes{
    margin-left: 450px;
    align-items: center;
}
.texto2{
    color: aliceblue;
    margin: 0px 40px;
    margin-left: 450px;
    font-size: 30px;
}

.texto3{
    color: aliceblue;
    margin: 0px 100px;
    margin-left: 400px;
    font-size: 30px;
    text-align: center;
}

.medios{
    color: aliceblue;
    font-size: 35px;
    margin: 0px 500px;
    margin-right: 0px;
    margin-left: 450px;
}

.img4-4 {
    width: 400px;
    height: 500px;
    align-items: center;
    margin: 111px 0px;
}

.ultimo{
    color: aliceblue;
    margin: 0px 400px;
    margin-left: 500px;
    font-size: 30px;
    text-align: center;
}










