.tabla{
    color: aliceblue;
    background-color: #312f2f;
    padding: 60px;
    font-size: 20px;
    width: 770px;
}


th,td {
    text-align: center;
    padding: 10px;
}

.tabla{
    margin-left: 650px;
}

.linea   {
    text-decoration: overline;
   
   
}

.lin2  {
    text-decoration: overline;
}



