.titulo{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}

.formulario{
    
    color: aliceblue;
    font-size: 25px;
    margin-left: 835px;
}

.nombre{
    display: flex;
    margin: 5px;
    height: 35px;
}
.apellidos{
    display: flex;
    margin: 5px;
    height: 35px;
}

.email{
    display: flex;
    margin: 5px;
    width: 350px;
    height: 35px;
}

.mensaje{
    display: flex;
    margin: 5px;
    width: 350px;
    height: 100px;
}

.enviar{
    height: 40px;
    width: 350px;
    margin-left: 6px;
    background-color: #312f2f;
    color: aliceblue;

}

.dos{
    display: flex;
}