.titulo{
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}

.formulario{
    
    color: aliceblue;
    font-size: 25px;
    margin-left: 750px;
}

.nombre{
    display: flex;
    margin: 5px;
}
.apellidos{
    display: flex;
    margin: 5px;
}

.email{
    display: flex;
    margin: 5px;
    width: 350px;
}

.mensaje{
    display: flex;
    margin: 5px;
    width: 350px;
    height: 100px;
}

.enviar{
    width: 350px;
    margin-left: 6px;

}

.dos{
    display: flex;
}